.user-button {
  background-color: #4CAF50;
  color: white !important;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 150px;
  text-decoration: none ;
}

.user-button:hover {
  background-color: #45a049;
  color: white ;
  text-decoration: none ;
}

.user-dropdown {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-dropdown .ant-dropdown-menu {
  border-radius: 8px;
  width: 150px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #4CAF50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-header-title {
  margin: 0;
  font-family: 'Pacifico, cursive';
  font-size: 2.5rem;
}

.header-link {
  color: white !important;
  text-decoration: none !important;
}

.header-link:hover {
  color: #e0ffe0 !important;
  text-decoration: none !important;
}
