.user-button {
  background-color: #4CAF50;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 150px;
  text-decoration: none;
}

.user-button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-dropdown {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: none;
}

.user-dropdown .ant-dropdown-menu {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.user-dropdown .ant-dropdown-menu-item {
  background-color: #4CAF50;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.user-dropdown .ant-dropdown-menu-item:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #4CAF50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-header-title {
  margin: 0;
  font-family: 'Pacifico, cursive';
  font-size: 2.5rem;
}

.header-link {
  color: white !important;
  text-decoration: none;
}

.header-link:hover {
  color: #8ada8a;
}

.login-button {
  background-color: #4CAF50;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 150px;
  text-decoration: none;
}

.login-button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
